.j-q-select {
  .q-field__native > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .float-placeholder {
    font-size: 14px;
    color: var(--j-color-grey);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .q-select__dropdown-icon {
    font-size: 18px !important;
  }

  .q-field__input{
    max-width: 80px !important;
  }
}

.j-q-select-popup {
  max-height: 20rem !important;
}


.j-q-select.q-select--multiple {
  .q-field__control-container {
    display: flex;
    flex-wrap: nowrap;

    .q-field__native {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      .select-selected-item {
        padding: 4px 6px;
        border-radius: 2px;
        background-color: var(--j-color-grey-light);
        display: flex;
        align-items: center;
      }
    }
  }
}