// Quasar SCSS (& Sass) Variables
// $$$$$$$$$$$$$$$$$$$$$$$$$
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$dark: #121212;
$primary: #5469d4;
$blue: #5469d4;
$negative: rgb(234, 6, 6);
$negative-1: rgb(253, 226, 226);
$negative-2: rgb(234, 6, 6, 0.08);
$yellow: rgb(237, 106, 12);
$yellow-1: rgb(253, 246, 236);
$yellow-2: rgb(237, 106, 12, 0.08);
$green: #2da641;
$green-1: rgb(225, 243, 216);
$green-2: rgb(103, 194, 58, 0.08);
$grey: #969799;
// font-size
$font-size-em-through: 10 !default;
$font-size-em-decimal-through: 5 !default;
$font-size-rem-through: 10 !default;
$font-size-rem-decimal-through: 5 !default;
// line-height
$line-height-through: 20 !default;
$line-height-decimal-through: 5 !default;
$line-height-px-through: 100 !default;
