// Base color
$black: #323232;
$light-black: #5d5d5d;
$white: #ffffff;
$light-white: #f5f5f5;
$blue: #0080ff;
$medium-blue: #03a6ff;
$light-blue: #1976d2;
$small-blue: rgba(25, 118, 210, 0.093);
$red: #cf2a2a;
$light-red: #f1404b;
$pink: #fd999a;
$green: #3ac569;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$gray: #889aa4;

// border
$color-border: #dfe6ec;
// desc
$color-desc: #97a8be;
// shadow
$color-shadow: rgba(0, 0, 0, 0.5);
// Login page
$loginCursorColor: #fff;
$loginButton: #324157;
$darkGray: #889aa4;
$loginBg: #2d3a4b;
$lightGray: #eee;
// Sidebar
$sideBarWidth: 210px;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$subMenuActiveText: #f4f4f5;
$menuBg: #304156;
$menuText: #bfcbd9;
$menuActiveText: #409eff;

// 边框颜色
$border-colors: (
  'white': $white,
  'black': $black,
  'gray': $gray,
  'green': $green,
  'blue': $blue,
  'yellow': $yellow,
  'red': $red,
  'desc': $color-desc,
) !default;

$bg-colors: (
  'small-blue': $small-blue,
  'light-blue': $light-blue,
  'white': $white,
  'black': $black,
  'gray': $gray,
  'green': $green,
  'blue': $blue,
  'yellow': $yellow,
  'red': $red,
  'desc': $color-desc,
  'bug1': #e93030,
  'bug2': #f28500,
  'bug3': #e6b800,
  'bug4': $blue,
) !default;
// 文本颜色
$text-colors: (
  'light-blue': $light-blue,
  'white': $white,
  'black2': $black,
  'gray': $gray,
  'green': $green,
  'blue': $blue,
  'yellow': $yellow,
  'red': $red,
  'desc': $color-desc,
  'light-black': $light-black,
  'bug1': #e93030,
  'bug2': #f28500,
  'bug3': #e6b800,
  'bug4': $blue,
) !default;
// for padding margin
$box-sizes: (
  -20,
  -15,
  -12,
  -10,
  -8,
  -6,
  -5,
  -4,
  -3,
  -2,
  -1,
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  12,
  15,
  16,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  60,
  70,
  80,
  100,
  130
) !default;
// font-size
$font-size-em-through: 10 !default;
$font-size-em-decimal-through: 5 !default;
$font-size-rem-through: 10 !default;
$font-size-rem-decimal-through: 5 !default;
$font-size-px-through: 80 !default;
// line-height
$line-height-through: 20 !default;
$line-height-decimal-through: 5 !default;
$line-height-px-through: 100 !default;
// border
$border-width-through: 20 !default;
$border-radius-through: 20 !default;
// width height
$sizes2: (32, 36, 40, 44, 47, 48, 50, 60, 70, 80, 90, 100, 120, 130, 150, 170, 200, 220, 250, 300, 370, 400, 500, 600, 800, 1000, 1200) !default;
