// Quasar SCSS (& Sass) Variables
// $$$$$$$$$$$$$$$$$$$$$$$$$
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$dark: #252631;
$white: #ffffff;
$primary: #5469d4;
$blue: #5469d4;
$blue-1: rgba(85, 105, 212, 0.5);
$blue-2: rgba(85, 105, 212, 0.08);
$negative: rgb(234, 6, 6);
$negative-1: rgb(253, 226, 226);
$negative-2: rgb(234, 6, 6, 0.08);
$yellow: rgb(237, 106, 12);
$yellow-1: rgb(253, 246, 236);
$yellow-2: rgb(237, 106, 12, 0.08);
$green: #2da641;
$green-1: rgb(225, 243, 216);
$green-2: rgb(103, 194, 58, 0.08);
$grey: #969799;
$grey-1: #fafafb;
$grey-2: #f8f9fd;
$grey-3: #999db4;
$grey-4: #0000008a;
$grey-5: #bec8d6;

// font-size
$font-size-em-through: 10 !default;
$font-size-em-decimal-through: 5 !default;
$font-size-rem-through: 10 !default;
$font-size-rem-decimal-through: 5 !default;
// line-height
$line-height-through: 20 !default;
$line-height-decimal-through: 5 !default;
$line-height-px-through: 100 !default;

:root {
  /** Header 区域 = NavigationBar 组件 + TagsView 组件 */
  --q-dark-1: #323232;
  --q-shadow-1: rgba(0, 0, 0, 0.05);
  --q-shadow-2: rgba(0, 0, 0, 0.4);
  --q-transparent: rgba(0, 0, 0, 0);
  --q-grey-1: #fafafb;
  --q-grey-4: #0000008a;
  --q-grey-5: #bec8d6;
  --q-grey-6: #e0e1e8;
  --q-grey-7: #8392ab;
  --q-grey-8: rgba(0, 0, 0, 0.3);
  --q-grey-9: #e9ecef;
  --q-label-error-red: #f56c6c;
  --q-label-warn-yellow: #e6a23c;
  --q-label-warn-major: #f28500;
  --q-label-warn-minor: #e6b800;
  --q-label-warn-warning: #0062ff;
  --q-label-warn-cleared: #000000;
  --q-label-success-green: #67c23a;
  .body--light {
  }
  .body--dark {
  }
}
