// Quasar SCSS (& Sass) Variables
// $$$$$$$$$$$$$$$$$$$$$$$$$
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$dark: #2b2b2d;
$primary: #5469d4;
$blue: #5469d4;
$negative: rgb(234, 6, 6);
$negative-1: rgb(253, 226, 226);
$negative-2: rgb(234, 6, 6, 0.08);
$yellow: rgb(237, 106, 12);
$yellow-1: rgb(253, 246, 236);
$yellow-2: rgb(237, 106, 12, 0.08);
$green: #2da641;
$green-1: rgb(225, 243, 216);
$green-2: rgb(103, 194, 58, 0.08);
$grey: #969799;
// font-size
$font-size-em-through: 10 !default;
$font-size-em-decimal-through: 5 !default;
$font-size-rem-through: 10 !default;
$font-size-rem-decimal-through: 5 !default;
// line-height
$line-height-through: 20 !default;
$line-height-decimal-through: 5 !default;
$line-height-px-through: 100 !default;

:root {
  .body--light {
    --my-dark-1: #323232;
    --my-white: #ffffff;
    --my-blue-1: #212d63;
    --my-blue-2: #7fd3ed;
    --my-grey-1: #fafafb;
    --my-grey-5: #bec8d6;
    --my-grey-6: #e0e1e8;
    --my-grey-7: #8392ab;
    --my-grey-9: #e9ecef;
    --my-label-error-red: #f56c6c;
    --my-label-warn-yellow: #e6a23c;
    --my-label-warn-major: #f28500;
    --my-label-warn-minor: #e6b800;
    --my-label-warn-warning: #0062ff;
    --my-label-warn-cleared: #000000;
    --my-label-success-green: #67c23a;
    --machine-color: #000000;
  }
  .body--dark {
    --my-dark-1: darken(#323232, 50%);
    --my-white: darken(#ffffff, 50%);
    --my-blue-1: darken(#212d63, 50%);
    --my-blue-2: darken(#7fd3ed, 50%);
    --my-grey-1: darken(#fafafb, 50%);
    --my-grey-5: darken(#bec8d6, 50%);
    --my-grey-6: darken(#e0e1e8, 50%);
    --my-grey-7: darken(#8392ab, 50%);
    --my-grey-9: darken(#e9ecef, 50%);
    --my-label-error-red: darken(#f56c6c, 50%);
    --my-label-warn-yellow: darken(#e6a23c, 50%);
    --my-label-warn-major: #f28500;
    --my-label-warn-minor: #e6b800;
    --my-label-warn-warning: #0062ff;
    --my-label-warn-cleared: #f7f7f7;
    --my-label-success-green: darken(#67c23a, 50%);
    --machine-color: #f9f9f9;
  }
}
