// 卡片
.q-card {
  border-radius: 16px !important;
  vertical-align: top;
  position: relative;
  box-shadow: rgb(0 0 0 / 5%) 0px 20px 27px 0px !important;
  border: none !important;
}
// 搜索栏
.query-form-and-action {
  background: #ffffff;
  border-radius: 8px;
  padding: 25px 20px 20px;
  box-shadow: rgb(0 0 0 / 5%) 0px 20px 27px 0px;
  margin-bottom: 15px;
}

// 按钮
.q-btn--rectangle {
  border-radius: 8px;
}
.q-field__control,
.q-btn {
  padding: 0 24px;
  &.q-btn--outline {
    font-family: NotoSans-SemiBold, NotoSansSC-Bold;
  }
}
.q-date__content {
  .q-btn {
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0;
    &.q-btn--rectangle {
      border-radius: 3 !important;
    }
  }
}
.q-pagination {
  margin-top: 3px;
  .q-btn {
    min-height: 32px;
    height: 32px;
    width: 32px !important;
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    &:has(img) {
      min-width: 32px !important;
      min-height: 32px;
      height: 32px;
      margin-right: 8px !important;
      margin-left: 8px !important;
      &::before {
        border-radius: 8px;
        border: 1px solid #e0e1e8;
      }
    }
    span {
      height: 32px !important;
      line-height: 32px !important;
    }
    &::before {
      box-shadow: none;
      height: 32px !important;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0);
      box-sizing: border-box;
    }
    &.text-primary {
      font-family: NotoSans-SemiBold, NotoSansSC-Bold;
    }
  }
}
.q-field--outlined .q-field__control {
  border-radius: 8px;
}
// 输入框
.q-field {
  .q-field__label {
    color: #99979c;
  }
}
// 表格
.q-table__container {
  border: none !important;
}
.q-table {
  th {
    color: #8392ab;
  }
  tbody {
    tr {
      td {
        &::before {
          background: rgba(0, 0, 0, 0) !important;
        }
      }
    }
  }
}
/* 滚动条 */
.scroll::-webkit-scrollbar {
  background: transparent;
}
.scroll::-webkit-scrollbar:vertical {
  width: 1em;
}
.scroll::-webkit-scrollbar:horizontal {
  height: 1em;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 99999px;
  border: 0.3125em solid transparent;
  background-clip: content-box;
}
/* table no data */
.q-table__bottom--nodata {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  text-align: center;
  i {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
/* 弹窗 */
.dialog-upload-form {
  &::-webkit-scrollbar {
    display: none;
  }
  .container {
    height: 195px;
    background: #f5f5f5;
    border-radius: 6px;
    color: $black;
    position: relative;
    .center {
      width: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      cursor: pointer;
      img {
        width: 48px;
        height: 48px;
      }
      .click {
        font-size: 16px;
        padding-top: 10px;
      }
      .format {
        color: #8c8c8c;
        font-size: 12px;
        padding-top: 5px;
      }
      .fileName {
        font-size: 12px;
      }
    }
  }
  .upload-limit {
    padding-top: 10px;
    font-size: 14px;
    color: #595959;
  }
}
/* tooltip */
.hide-tooltip {
  z-index: -1 !important;
}
